<div>
	<h1>{{message}}</h1>
	<table class="k-data-table">
		<caption>Latest news from Web &amp; Mobile Framework Team</caption>
		<thead>
			<tr>
				<th>Author</th>
				<th>Category</th>
				<th>Content</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th>Author</th>
				<th>Category</th>
				<th>Content</th>
				<th></th>
				<th></th>
			</tr>
		</tfoot>
		<tbody>
        <tr class="gradeA" *ngFor="let currentNew of news">
            <td>{{currentNew.author}}</td>
            <td>{{currentNew.category}}</td>
            <td>{{currentNew.content}}</td>
            <td><button *ngIf="principal.isAuthenticated()" class="btn" (click)="addLike(currentNew)"><img src="assets/styles/ktheme/img/like.png" /> {{currentNew.likes}}</button></td>  <!-- Si jamais l'utilisateur est connecté, il peut liker les posts -->
            <td><button *ngIf="principal.isAdmin()" class="btn" (click)="deleteNews(currentNew)"><img src="assets/styles/ktheme/img/delete.png"/></button></td> <!-- Si jamais l'utilisateur est un admin, il peut liker les posts -->
            <!-- *ngIf permet de poser des conditions à la présence de la balise -->
        </tr>
        <tr class="gradeA" *ngIf="principal.isUser">  <!-- *ngIf permet de poser des conditions à la présence de la balise -->
        	<!--- Si on est connecté, on peut poster des news -->
            <td><input type="text" placeholder="author" [(ngModel)]="nextNews.author"/></td>
            <td><input type="text" placeholder="category" [(ngModel)]="nextNews.category"/></td>
            <td><input type="text" placeholder="content" [(ngModel)]="nextNews.content"/></td>
            <!--On utilise ngModel pour synchroniser les données dans le formulaires avec les propriétés des composants parents et enfants--> 
            <td></td>
            <td><button class="btn" (click)="addNews()"><img src="assets/styles/ktheme/img/add.png"/></button></td>
        </tr>
        </tbody>
    </table>

    <section class="k-panel">
        <h4 class="control"><a href="#">And the news of the day is...</a></h4>
        <div class="content">
            <p><i>{{newsOfTheDay.content}}</i> from <b>{{newsOfTheDay.author}}</b></p>
        </div>
    </section>
</div>