name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  IMAGE_NAME: my-docker-image

jobs:

  build:

    runs-on: ubuntu-latest 

    steps:
    - uses: actions/checkout@v3

    - name: Build the Docker image
      run: docker build . --file ./docker/Dockerfile --tag ${{ env.IMAGE_NAME }}

    - name: Runs dockle
      uses: hands-lab/dockle-action@v1
      with:
        image: ${{ env.IMAGE_NAME }}
        exit-level: FATAL
        exit-code: '0'

    - name: Log in to Docker Hub
      uses: docker/login-action@v2.1.0
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
      
    - name: Extract metadata (tags, labels) for Docker
      id: meta
      uses: docker/metadata-action@v4.3.0
      with:
        images: ${{ secrets.DOCKER_USERNAME }}/tp_gr11_pl_seb
      
    - name: Build and push Docker image
      uses: docker/build-push-action@v4.0.0
      with:
        context: ./docker/Dockerfile
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}